numpy
scipy
matplotlib
setuptools
pandas
scikit-image
Jinja2
tifffile
av
numba
intel-openmp
pytest

sphinx
ipython
pyarrow
slicerator
Pillow
JPype1
sphinx-rtd-theme
numpydoc

moviepy

imageio
imageio-ffmpeg
opencv-python

pycocotools

looseversion
PyYAML
